<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bagmes.mapper.RoutingVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bagmes.entity.RoutingVersion">
        <id column="routing_id" property="routingId" />
        <result column="sku_id" property="skuId" />
        <result column="routing_version" property="routingVersion" />
        <result column="status" property="status" />
        <result column="effective_from" property="effectiveFrom" />
        <result column="effective_to" property="effectiveTo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        routing_id, sku_id, routing_version, status, effective_from, effective_to
    </sql>

</mapper>
